<!DOCTYPE html>
<html lang='en'>
<head>
    <title>Silent Party - Admin Panel</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <meta https-equiv="Content-Security-Policy" content="default-src *;" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href='/css/bootstrap/bootstrap.min.css'>
</head>
<body>

<div class='container-fluid'>
    <h1>Admin panel</h1>
    <p>
        <audio id="audio" autoplay controls>
            <source type="audio/mpeg" class="audio-source">
            Your browser does not support the audio element.
        </audio>
    </p>

    <img src="<%= qrCode %>" alt="QR Code">
    <h5><%= url %></h5>
    <div class="container-fluid">
        <div class="d-grid gap-3" style="grid-template-columns: 2fr 1fr;">
            <div class="bg-body-tertiary border rounded-3">
                <table class="table table-striped">
                    <thead>
                    <tr class='text-center'>
                        <th>image</th>
                        <th>name</th>
                        <th>artist</th>
                        <th>size</th>
                        <th>duration</th>
                    </tr>
                    </thead>
                    <tbody class="table-group-divider">
                    <% musicsInfo.forEach((music)=>{ %>
                        <tr onclick="play(`<%= music.name; %>`)">
                            <% if(music.image){ %>
                                <td>
                                    <img src="data:<%= music.image.mime; %>;base64,<%= music.image.imageBuffer.toString('base64'); %>"
                                         alt="<%= music.image.description; %>" width="50" height="50" />
                                </td>
                            <% }else{ %>
                                <td>
                                    <img src="#" width="50" height="50" />
                                </td>
                            <% } %>
                            <td><%= music.name; %></td>
                            <td><%= music.artist; %></td>
                            <td><%= music.size; %> mb</td>
                            <td><%= music.duration; %></td>
                        </tr>
                    <% }); %>
                    </tbody>
                </table>
            </div>
            <div id='users' class="bg-body-tertiary border rounded-3 p-2">
                <% allUser.forEach(user=>{ %>
                    <p id='<%= user.id %>'> <%= user.username %></p>
                <% }) %>
            </div>

        </div>
    </div>

    <form action="/upload" method="post" enctype="multipart/form-data">
        <div>
            <label for="audio">Select an audio file:</label>
            <input type="file" id="audio" name="audio">
        </div>
        <div>
            <input type="submit" value="Upload">
        </div>
    </form>
</div>

</body>
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap/bootstrap.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/admin/admin.js"></script>
</html>